BASE=

MONGO_URL=

SLACK_PRETEND=
SLACK_WEBHOOK_URL=
SLACK_USERNAME=
SLACK_ICON_URL=
SLACK_STANDUP_CHANNEL=
SLACK_API_TOKEN=
SLACK_BOT_TOKEN=
GITLAB_URL=
GITLAB_API_TOKEN=

STANDUP_EXCLUDE=

WOLFRAM_APP_ID=
